.container-pai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,100px) ;
    grid-gap: 10px;
    /*flex-wrap: wrap;*/
   /* justify-content: space-around;*/
    height: 600px;
    width: 600px;
    align-items: stretch;
    background-color: rgb(236, 236, 243);
    position: relative;
   /* align-content: center;*/
   /* flex-direction: column;*/
}

.filho1 {
   /* height: 40px;
    width: 40px;*/
    background-color: rgb(31, 34, 36);
   
   /* margin: 10px;
    padding: 10px;*/
}

.filho2 {

   /* height: 40px;
    width: 40px;*/
      background-color: brown;
    /*margin: 10px;
    padding: 10px;*/
}

.filho3 {

   /* height: 40px;
    width: 40px;*/
    background-color: coral;
   /* margin: 10px;
    padding: 10px;*/
}

.filho4 {

   /* height: 40px;
    width: 40px;*/
    background-color: blueviolet;
    /*margin: 10px;
    padding: 10px;*/
}